<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSMicrophoneUsageDescription</key>
  <string>Vim Helper uses the microphone so you can speak your question.</string>
  <key>NSSpeechRecognitionUsageDescription</key>
  <string>Vim Helper transcribes your spoken question on-device.</string>
</dict>
</plist>
